
:root{
    --var-color-background: #040d12, #1e292d, #354549, #4d6465, #698481, #6c8984, #6f8d87, #72928a, #5b7c76, #446662, #2e514f, #183d3d;
}

body{
    position: relative;
    height: 100%;
    width: 100vw;
    overflow-x: hidden;

    cursor: pointer;
}

.link-grow{
    background: white;
    scale: 1.8;
}

.hovered-grow{
    color: #fff;
}

.element{
    position: absolute;

    color: rgb(161, 255, 19);
    pointer-events: none;
    width: 10px;
    height: 10px;
    z-index: 1000 !important;
    transition: 1s;
    font-size: 1.2rem;
}


.appMain{
    position: relative;
    height: 100%;
    width: 100vw;

    justify-content: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left, var(--var-color-background));
    background-size: 200%;
    animation: bgCool 28s infinite;
    overflow-x: hidden;

}

@keyframes bgCool {
    50% {
      background-position: right;
    }
  }

  .navbar {
    display: flex;
    padding: 10px;
}
.nav-links{
    font-size: 15px;
    list-style: none;
    z-index: 1000;
}
.logo-anime {
    display: flex;
    align-items: center;
}
.logo-anime ul{
    display: flex;
    gap: 10px;
}
.logo-anime ul li{
    margin-left: 10px;
    padding: 2px;
    cursor: pointer;
}
.navbar-brand {
    display: flex;
    color: #fff;
    text-decoration: none;

}
.navbar-brand:hover{
    color: #111;
}
.logo-anime a{
    font-size: 20px;
    z-index: 1000;

}

.form-control {
    background-color: #333;
    color: #fff;
}

.btn-outline-success {
    color: #28a745;
    border-color: #28a745;
}

/* Media Query for smaller screens (e.g., mobile devices) */
@media (max-width: 768px) {
    .logo-anime {
        margin-bottom: 10px;
    }

    .navbar-brand {
        font-size: 1.2rem;
    }
}



.bg-skin-custom{
    position: relative;
    min-height: 100%;
}

.container-left-sidebar{
    display: flex;
}


.sidebar{
    background: #222;
    color: #fff;
    height: 100vh;

    transition: all 0.5s ease-in-out;
}


.top-section{
    display: flex;
    align-items: center;
    padding: 20px 15px;
}

.logo{
    font-size: 20px;
    transition: all 0.3s;

}

.bars{
    display: flex;
    font-size: 25px;

    cursor: pointer;
    transition: all 0.7s;
}

.bars:hover{
    color: lightgreen;
}

@media screen and (max-width: 768px){
    .bars{
        margin-left: 20px !important;
    }
}

.link{
    display: flex;
    color: #fff;
    padding: 10px 15px;
    gap: 15px;
    text-decoration: none;


}
.link:hover{
    background: lightgreen;
    color: #000;
    transition: all 0.3s;
}
.active{
    background: lightgreen;
    color: #000;
}
.icon, .link-text{
    font-size: 18px;
    transition: all 0.4s ease-in;

}

@media (max-width: 768px) {


    .sidebar {
        width: 200px !important;
    }
}

/* Media Query for smaller screens (e.g., mobile devices) */

.mainResult {
    margin-left: 20px;
    margin-top: 20px;
    color: #fff;
}


/* CURSOR */
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease;
    transition-property: background, scale;


}

.cursor2{

    position: fixed;
    width: 8px;
    height: 8px;
    background-color: #c6c6c6;
    border-radius: 50%;
    left: 0;
    top: 0;
    pointer-events: none;
    transform:translate(-50%, -50%) ;


}

.chat-side-div{
    position: absolute;

    top: 15%;
    right: 10%;
}